@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}

:root {
  --primary: #070707;
  --accent: #0B0D7B;
  --text-accent: #908F8F;
  --ternary: #363636;
  --text-gray: #C3CAD5;
}

.container {
  margin: 0 auto;
  width: 1080px;
}

.line:first-child {
  transform: translate(-50%, -10px);
}

.line:nth-child(2) {
  transform: translate(-50%, -50%);
}

.line:last-child {
  transform: translate(-50%, 7px);
}

.close .line:first-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.close .line:last-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close .line:nth-child(2) {
  width: 0;
}

@keyframes wave {
  0% {
    transform: rotate(0.0deg)
  }

  10% {
    transform: rotate(14.0deg)
  }

  20% {
    transform: rotate(-8.0deg)
  }

  30% {
    transform: rotate(14.0deg)
  }

  40% {
    transform: rotate(-4.0deg)
  }

  50% {
    transform: rotate(10.0deg)
  }

  60% {
    transform: rotate(0.0deg)
  }

  100% {
    transform: rotate(0.0deg)
  }
}

<<<<<<< HEAD
@media only screen and (min-width: 300px) {
=======
@media only screen and (max-width: 400px) {
>>>>>>> 807aa2d1089a0d1ba22064351c57c91d59eb0a7d
  .container {
    padding-left: 26px;
    padding-right: 26px;
    width: 100%;
  }
}

<<<<<<< HEAD
@media only screen and (min-width: 700px) {
=======

@media only screen and (max-width: 1080px) {
>>>>>>> 807aa2d1089a0d1ba22064351c57c91d59eb0a7d
  .container {
    padding-left: 46px;
    padding-right: 46px;
    width: 100%;
  }
}